<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Producto</th>
      <th scope="col">Precio</th>
      <th scope="col">Stock del Producto</th>
      <th scope="col">Descripcion del Producto</th>
      <th scope="col">Descripcion HTMLProducto</th>
      <th scope="col">imagen1-Producto</th>
      <th scope="col">imagen2-Producto</th>
      <th scope="col">imagen3-Producto</th>
      <th scope="col">Cliente Creado</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
        <tr>
      <th scope="row">4</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
        <tr>
      <th scope="row">5</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
        <tr>
      <th scope="row">6</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
        <tr>
      <th scope="row">7</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
        <tr>
      <th scope="row">8</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
        <tr>
      <th scope="row">39</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>