
{{>menu-client}}
<br>
<div class="container ">
    <div class="row row-cols-2 justify-content-center">
        <div class="col">
            <h1 class="text-primary text-center">Registrate</h1>
            <br><br>
            <form action="/pets" method="POST">
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="name_pet" name="name_pet" placeholder="Nombres">
                            <label for="name_pet">Nombres de la mascota</label>
                        </div>
                        <br>
                        <h6>Fecha de Nacimiento</h6>
                        <div class="col">
                            <div class="form-floating">
                                <input type="date" class="form-control" name="birthdata_pet" id="">
                            </div>
                        </div>
                        <br>
                        <br>
                        <div class="ms-1 form-check">
                            <input class="form-check-input" type="checkbox" value="" id="formCheckChecked" checked="">
                            <label class="form-check-label" for="formCheckChecked">Aceptas que usemos tu información
                                para venderla a Facebook.</label>
                        </div>
                        <br><br>
                        <center><button type="submit" class="btn btn-lg  btn-outline-primary">Completed</button>
                        </center>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<br>