<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />-->
  <link href="/css/all.min.css" rel="stylesheet" />
  <link href="/css/css.css" rel="stylesheet" />
  <link href="/css/mdb.min.css" rel="stylesheet" />
  <!-- CSS -->
  <link rel="stylesheet" href="/css/alertify.min.css" />
  <!-- Default theme -->
  <link rel="stylesheet" href="/css/default.min.css" />
  <!-- Semantic UI theme -->
  <link rel="stylesheet" href="/css/semantic.min.css" />
  <!-- Bootstrap theme -->
  <link rel="stylesheet" href="/css//bootstrap.min.css" />
  <link href="/css/index.css">
  <title>MikasaPet - Veterinaria Y Consulta</title>
</head>

<body>
  {{>navigation}}
  {{>error}}
  {{>success}}
  {{{body}}}
  {{>footer}}
</body>
<script type="text/javascript" src="/js/mdb.min.js"></script>
<!-- Alertify -->
<script src="/js/alertify.min.js"></script>
<script src="/js/index.js"></script>

</html>