<br>
<div class="container ">
    <div class="row row-cols-2 justify-content-center">
        <div class="col">
            <h1 class="text-primary text-center">Registrate</h1>
            <br><br>
            <form  method="POST" action="/pets" >
                <div class="card">
                    <div class="card-body">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="name_pet" name="name" placeholder="Nombres">
                            <label for="name_pet">Nombres de la mascota</label>
                        </div>
                        <br>
                        <select name="race" class="form-select form-select-lg" aria-label=".form-select-lg example">
                            <option>Seleccione la raza de su mascota</option>
                            <option value="Pastor Alemán">Pastor Alemán</option>
                            <option value="Bulldog">Bulldog</option>
                            <option value="Labrador Retriever">Labrador Retriever</option>
                            <option value="Poodle">Poodle</option>
                        </select>
                        <br>
                        <!-- SEX -->
                        <select name="sex" class="form-select form-select-lg" aria-label=".form-select-lg example">
                            <option>Seleccione el genero de su mascota</option>
                            <option value="Macho">Macho</option>
                            <option value="Hembra">Hembra</option>
                            
                        </select>
                        <br>
                        <h6>Fecha de Nacimiento</h6>
                        <div class="form-floating">
                            <input type="date" class="form-control" name="birthdata" id="">
                        </div>

                        <br>
                        <br>
                        <div class="ms-1 form-check">
                            <input class="form-check-input" type="checkbox" value="" id="formCheckChecked" checked="">
                            <label class="form-check-label" for="formCheckChecked">Aceptas que usemos tu información
                                para venderla a Facebook.</label>
                        </div>
                        <br><br>
                        <center><button type="submit" class="btn btn-lg  btn-outline-primary">Completed</button>
                        </center>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>
<br>
<script>
    /*(function () {
        const modal = document.getElementById('exampleModal');
        modal.show();

        const exampleModal = document.getElementById('exampleModal');
        exampleModal.show();

        const form = document.getElementById("form");
        form.addEventListener("submit", async (event)=>{
            event.preventDefault();
            let data = new FormData(form);
            const searchParams =new URLSearchParams();
            for(const pair of data){
                searchParams.append(pair[0],pair[1]);
            }
            await fetch("/pets",{
                method:"POST",
                headers:{
                    //'Content-Type': 'application/json'
                    "Content-Type": "application/x-www-form-urlencoded",
                    // "Content-Type": "multipart/form-data",
                },
                body : searchParams
            })
            .then((response)=>{
                if(response.ok){
                   return response.json();
                }
                throw new Error("Ocurrio algo");
            })
            .then((data)=>{
                console.log(data);
            })
            .catch((err)=>console.log(err));

        
        });


    })();/*
</script>