<br>
<div class="container">
    <h3 class="text-center text-primary">¡Encuentra los productos necesarios para tener una mascota feliz!</h3>
    <div class="row row-cols-1 row-cols-sm-4 g-3">
        {{#each products}}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-primary">{{name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{description_simple}}</h6>
                    <p class="card-text">Stock: {{stock}} unidades</p>
                    <img src="https://images.ctfassets.net/sa0sroutfts9/3HCwCX7Xt73tL6kGkIWM4k/6ec70a5fc39bb1b1522072d37c63667f/GO-SOLUTIONS-Recipe-Image-Dog-Skin_Coat-Care-Salmon-With-Grains.png"
                        class="img-fluid" alt="card-img-bottom">
                    <a class="text-muted card-link">price: 152.99</a>
                    {{#if client}}
                    <a href="#" class="btn btn-success card-link">Add</a>
                    {{else}}
                    <a class="btn btn-success card-link">Add</a>
                    {{/if}}
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div><br><br><br><br><br><br>