<br>
<div class="container ">
    <div class="row row-cols-2 justify-content-center">
        <div class="col">
            <h1 class="text-primary text-center">Registrate</h1>
            <br><br>
            <form action="/signup" method="POST">
                <div class="card">
                    <div class="card-body">
                        <div class="row row-cols-2 mb-3">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name_client" name="name_client"
                                        placeholder="Nombres">
                                    <label for="name_client">Nombres</label>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="lastname_client" name="lastname_client"
                                        placeholder="Apellidos">
                                    <label for="lastname_client">Apellidos</label>
                                </div>

                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nick_client" name="nick_client"
                                placeholder="name@example.com">
                            <label for="nick_client">Usuario</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email_client"
                                placeholder="name@example.com">
                            <label for="email">Email</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" class="form-control" id="password" name="password_client"
                                placeholder="Password">
                            <label for="password">Contrase침a</label>
                        </div>
                        <br>
                        <h6>Fecha de Nacimiento</h6>
                        <div class="row row-cols-2">
                            <div class="col">
                                <div class="form-floating">
                                    <input type="date" class="form-control" name="birthdata_client" id="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-floating">
                                    <input type="number" class="form-control" id="phone_client" name="phone_client"
                                        placeholder="Celular">
                                    <label for="phone_client">Celular</label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-floating">
                            <input type="text" class="form-control" id="clientDireccion" name="direction_client"
                                placeholder="Direcci칩n">
                            <label for="clientDireccion">Direcci칩n</label>
                        </div>
                        <br>
                        <div class="ms-1 form-check">
                            <input class="form-check-input" type="checkbox" value="" id="formCheckChecked" checked="">
                            <label class="form-check-label" for="formCheckChecked">Aceptas que usemos tu informaci칩n
                                para venderla a Facebook.</label>
                        </div>
                        <br><br>
                        <center><button type="submit" class="btn btn-lg  btn-outline-primary">Completed</button>
                        </center>
                        <hr>
                        <div class="alert" role="alert">
                            <center>Acceder a tu <a href="/login" class="alert-link">cuenta</a> en su lugar</center>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<br>